/* 파일: src/styles/globals.css */
@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;

}

body {
  font-family: var(--font-base);
  background-color: #F9FAFB;
  color: #111827;
}

/* Custom Reset additions if needed */
input[type="date"],
input[type="time"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* 번역 UI wrapper 스타일 (헤더 아래 드롭다운) */
/* wrapper는 최소 높이 */
#gt-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999991;

  width: 99%;
  height: 48px;
  overflow: hidden;

  background: #fff;
  border-radius: 10px;
  padding: 6px 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

/* 내부에서 select만 보이게 */
#google_translate_element select {
  width: 100%;
  height: 32px;
  font-size: 14px;
}